@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
 --primary-color: #FFC107;
 --secondary-color: #4CAF50;
 --accent-color: #F44336;
 --dark-color: #212121;
 --light-color: #F0F2F5;
 --text-color: #333;

 --card-border-radius: 2rem;
 --border-radius-1: 0.4rem;
 --border-radius-2: 1.2rem;

 --card-padding: 1.8rem;
 --padding-1: 1.2rem;

 --box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
}

body {
 font-family: 'Open Sans', sans-serif;
 font-size: 0.88rem;
 user-select: none;
 overflow-x: hidden;
 color: var(--text-color);
 background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.App {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
}

.App h1 {
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
 font-size: 1.8rem;
}

.App-header {
 background-color: var(--dark-color);
 min-height: 8vh;
 align-items: center;
 font-size: 1.3rem;
 color: #fff;
 padding: 20px;
 text-align: center;
}

.transaction-form {
 background-color: #FAFAFA;
 padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.transaction-form input {
 padding: 10px;
 margin: 5px;
 border: 1px solid #ddd;
 border-radius: 5px;
}

.transaction-form button {
 background-color: var(--accent-color);
 cursor: pointer;
}

.transaction-form button:hover {
 background-color: #D32F2F;
}

.App .transaction-table {
 box-shadow: var(--box-shadow);
 background-color: #fff;
 border: 1px solid #ddd;
 border-collapse: collapse;
 width: 100%;
 margin: 20px 0;
}

.App .transaction-table th,
.App .transaction-table td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
}

.transaction-table button {
 cursor: pointer;
 background-color: var(--secondary-color);
}

.transaction-table button:hover {
 background-color: #2E7D32;
}

.transaction-table th {
 background-color: var(--secondary-color);
 color: #fff;
}

.transaction-table tr:nth-child(even) {
 background-color: #F2F2F3;
}

.search-bar {
 padding: 10px;
 background-color: #fff;
 border: 1px solid #ddd;
}


